/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    background-image: url("assets/img/wallpaper.jpg");
}
* {
    font-family: 'Architects Daughter', cursive !important;
    color: white;
}

.mat-progress-bar{
    transition: transform 100ms;
}