.product {
    display: grid;
    grid-template-areas: "icone prod  prod"
                         "icone achat temps-prod";
    grid-template-columns: 8rem 2fr 1fr;
    grid-template-rows: 30px 1fr;
    gap: 1rem;
    background-color: rgb(31, 31, 51);
    border-radius: 5px;
    padding: 1rem;
    min-width: 25rem;
    max-width: 35rem;
}

.icone{
    grid-area: icone;
    position: relative;
    text-align: center;
    width: 8rem;
    height: 8rem;
}

img {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.icone .qtt {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,0);
    min-width: 80%;
    background-color: dimgrey;
    border-radius: 5px;
    margin: 0;
}

.production {
    display: block;
    position: relative;
    grid-area: prod;
    height: 100%;
}

.production p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.production p {
    color: #313151 !important;
    text-shadow: -1px 0 #C5CAE9, 0 1px #C5CAE9,
    1px 0 #C5CAE9, 0 -1px #C5CAE9 !important;
    padding: 2px;
}

.production sup {
    color: inherit !important;
    text-shadow: -1px 0 #C5CAE9, 0 1px #C5CAE9,
    1px 0 #C5CAE9, 0 -1px #C5CAE9 !important;
}

sup {
    color: #313151;
    text-shadow: -1px 0 #C5CAE9, 0 1px #C5CAE9,
    1px 0 #C5CAE9, 0 -1px #C5CAE9;
}

.production > mat-progress-bar{
    height: 100%;
    border-radius: 5px;
}

.achat {
    grid-area: achat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1rem;
}

.temps-prod {
    grid-area: temps-prod;
    text-align: center;
    margin: auto;
    width: 6rem;
}