<div id="app">
  <header>
    <div class="logo"><img [attr.src]="server+world.logo" />
      <div>{{world.name}}</div>
    </div>
    <div id="money">{{ world.money | bigvalue }}</div>
    <div><button mat-raised-button color="primary"
        (click)="calcQtMulti()">{{ qtmulti==0 ? "Max" : "x"+qtmulti }}</button></div>
    <div>
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()" matInput>
      </mat-form-field>
    </div>
  </header>
  <nav>
    <div class="menu-item"><button class="menu-button" mat-raised-button color="primary" [matBadge]="badgeManagers"
        [matBadgeHidden]="badgeManagers==0" (click)="showManagers=!showManagers">Managers</button></div>
    <div class="menu-item"><button class="menu-button" mat-raised-button color="primary"
        (click)="showUnlocks=!showUnlocks">Unlocks</button></div>
    <div class="menu-item"><button class="menu-button" mat-raised-button color="primary"
        (click)="showUpgrades=!showUpgrades">Cash Upgrades</button></div>
    <div class="menu-item"><button class="menu-button" mat-raised-button color="primary"
        (click)="showAngelUpgrades=!showAngelUpgrades">Anget Upgrades</button></div>
    <div class="menu-item"><button class="menu-button" mat-raised-button color="primary"
        (click)="showInvestors=!showInvestors">Investors</button></div>
  </nav>
  <div id="products">
    <div *ngFor="let p of world.products.product as list">
      <app-product [product]="p" [qtmulti]="qtmulti" [wmoney]="world.money" [server]="server"
        [managerUnlocked]="p.managerUnlocked" (startProduction)="onStartProduction($event)"
        (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)"></app-product>
    </div>
  </div>

  <div class="modal" *ngIf="showManagers">
    <button class="close-button" mat-button (click)="showManagers=false">X</button>
    <h1>Managers make you feel better !</h1>
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="modal-layout">
        <div class="logo"><img [attr.src]="server+manager.logo"></div>
        <div class="modal-text">
          <p>{{ manager.name}}</p>
          <p>{{ world.products.product[manager.idcible-1].name }}</p>
          <p>{{ manager.seuil }}</p>
        </div>
        <button [disabled]="!(world.money>=manager.seuil)" (click)="hireManager(manager)" mat-raised-button
          color="primary">Hire !</button>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showUnlocks">
    <button class="close-button" mat-button (click)="showUnlocks=false">X</button>
    <h1>Unlock your full potential !</h1>
    <ng-container *ngFor="let product of world.products.product">
      <ng-container *ngFor="let p of [nextUnlocks(product)];">
        <div *ngIf="p!=null" class="modal-layout">
          <div class="logo"><img [attr.src]="server+p.logo"></div>
          <div class="modal-text">
            <p>{{ p.name }}</p>
            <p>{{ product.name }} {{ p.typeratio }} x{{ p.ratio }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
      <ng-container *ngFor="let p of [nextUnlocks()];">
        <div *ngIf="p!=null" class="modal-layout">
          <div class="logo"><img [attr.src]="server+p.logo"></div>
          <div class="modal-text">
            <p>{{ p.name }}</p>
            <p>L'univers {{ p.typeratio }} x{{ p.ratio }}</p>
          </div>
        </div>
      </ng-container>
  </div>
  <div class="modal" *ngIf="showUpgrades">
    <button class="close-button" mat-button (click)="showUpgrades=false">X</button>
    <h1>Upgrade to the next level !</h1>
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="modal-layout">
        <div class="logo"><img [attr.src]="server+upgrade.logo"></div>
        <div class="modal-text">
          <p>{{ upgrade.name}}</p>
          <p>{{ world.products.product[upgrade.idcible-1].name }}</p>
          <p>{{ upgrade.seuil }}</p>
        </div>
        <button [disabled]="!(world.money>=upgrade.seuil)" (click)="buyUpgrade(upgrade)" mat-raised-button
          color="primary">Hire !</button>
      </div>
    </div>
  </div>
</div>