#app {
  display: grid;
  grid-template-areas: "head head"
                       "nav  main";
  gap: 0.5rem;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 10rem 1fr;
  min-height: 100vh;
}

header {
  grid-area: head;
  display: grid;
  gap: inherit;
  grid-template-columns: 18rem 2fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.menu-item {
  margin: auto;
  padding: 1rem;
  width: 10rem;
}
.menu-button{
  width: 100%;
}

#products {
  grid-area: main;
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo > img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  object-fit: cover;
}

.logo > div {
  margin-left: 0.5rem;
  font-size: 2rem;
  color: white;
  line-height: 2rem;
}

.modal {
  position: absolute;
  left: 18rem;
  top: 10rem;
  bottom: 1rem;
  overflow-y: scroll;
  background-color: rgb(31, 31, 51);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.modal > h1 {
  text-align: center;
}

.modal > .close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-size: 1.5rem;
}

.modal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  min-width: 25rem;
  max-width: 35rem;
  box-shadow: 0 0 0.2rem #FFFFFF;
  border-radius: 0.1rem;
  margin: 1rem;
}

.modal-layout button {
  margin: auto;
  margin-right: 2rem;
}

.modal-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.modal-text p {
  text-align: center;
}

.modal-text > p:first-child {
  font-size: 1.5rem;
}

#money {
  font-size: 2.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}