<div id="app">
  <header>
    <div><img [attr.src]="server+world.logo" /> <span>{{world.name}}</span></div>
    <div>argent</div>
    <div>multiplicateur</div>
    <div>ID du joueur</div>
  </header>
  <nav>
    <div><button mat-raised-button color="primary">Unlocks</button></div>
    <div><button mat-raised-button color="primary">Cash Upgrades</button></div>
    <div><button mat-raised-button color="primary">Investors</button></div>
    <div><button mat-raised-button color="primary">Anget Upgrades</button></div>
    <div><button mat-raised-button color="primary">Managers</button></div>
  </nav>
  <div id="products">
    <div class="product">premier produit</div>
    <div class="product">second produit</div>
    <div class="product">troisième produit</div>
    <div class="product">quatrième produit</div>
    <div class="product">cinquième produit</div>
    <div class="product">sixième produit</div>
  </div>
</div>