#app {
  display: grid;
  grid-template-areas: "head head"
                       "nav  main";
  gap: 20px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr;
  min-height: 100vh;
}

header {
  grid-area: head;
  display: grid;
  gap: inherit;
  grid-template-columns: 300px 1fr 1fr 1fr;
}

nav {
  grid-area: nav;
  display: grid;
  gap: inherit;
  padding: 1em;
}

#products {
  grid-area: main;
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr 1fr;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
